.categories_section{
    background: #000000;

    h2{
        color: #ffffff;
        text-align: center;
        font-size: 50px;
    }

    .categories_wrap{
        .img_background{
            position: relative;
            text-align: center;
          img{
            width: 179px;
          }
          h2{
              position: absolute;
              font-size: 30px;
              top: 40%;
              right:20%;
          }
        }
        .img_background_2{
            position: relative;
            text-align: center;
          img{
            width: 179px;
          }
          h2{
              position: absolute;
              font-size: 30px;
              top: 40%;
              right: 15%;
          }
        }
        .img_background_3{
            position: relative;
            text-align: center;
          img{
            width: 179px;
          }
          h2{
              position: absolute;
              font-size: 30px;
              top: 40%;
              right: 10%;
          }
        }
    }
}

@media (max-width: 600px){
    .categories_section{
        background: #000000;
    
        h2{
            color: #ffffff;
            text-align: center;
            font-size: 30px;
        }
    
        .categories_wrap{
            .img_background{
                position: relative;
                text-align: center;
                padding-bottom: 30px;
              img{
                width: 179px;
              }
              h2{
                  position: absolute;
                  font-size: 25px;
                  top: 35%;
                  right:25%;
              }
            }
            .img_background_2{
                position: relative;
                text-align: center;
                padding-bottom: 30px;
              img{
                width: 179px;
              }
              h2{
                  position: absolute;
                  font-size: 25px;
                  top: 35%;
                  right: 18%;
              }
            }
            .img_background_3{
                position: relative;
                text-align: center;
                margin-bottom: 30px;
              img{
                width: 179px;
              }
              h2{
                  position: absolute;
                  font-size: 25px;
                  top: 40%;
                  right: 16%;
              }
            }
        }
    }
}