@use 'colors';

.toggle_button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    :focus{
        outline: none;
    }
    .toggle_button_line{
        width: 30px;
        height: 2px;
        background: #ff4712;
    }
}
